{% extends 'base.html.twig' %}

{% block title %}Ajouter un projet{% endblock %}

{% block content %}
<div>
{# Créer l'entête de notre fomulaire #}
    {{ form_start(form) }}

    <div>
    {# Ajoute une ligne et injecte moi l'input du name #}
        {{ form_row(form.name) }}
    </div>

    <div>    
        {{ form_row(form.created_date) }}
    </div>

    <div>    
        {{ form_row(form.add_at) }}
    </div>

    <div>    
        {{ form_row(form.category) }}
    </div>

    <div>    
        {{ form_row(form.description) }}
    </div>

    <div>    
        {{ form_row(form.technology) }}
    </div>
    
    <div>    
        {{ form_row(form.customer) }}
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}